@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  background: linear-gradient(180deg, #f2daff 0%, #fcf5ff 100%);
  font-style: normal;
  font-family: "Poppins";
}

html {
  scroll-behavior: smooth;
}